

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Azeret Mono", monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

nav > h3{
      color: #0D1321;
}

nav >button{
    border-radius: 8px;
    padding: 17px 24px;
    text-align: center;
    font-weight: 600;
    color: #0D1321;
    gap: 10px;
}

.background {
  background-image:url("../images/Hero-bg.png");
  color: lightgray 50%;
  background-repeat: no-repeat;
  height: 652px;
  align-items: center;
  
}

.Banner_content{
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
    font-size:28px;
      
}

.Banner_text2{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #0D1321;;
}
.image{
    
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.btn{
    padding: 21px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #0D1321;
    color: rgba(255, 255, 255, 1);
    border: none;
}

main {
    
    max-width: 1140px;
    margin: 0 auto;
    
}
.container{
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin-top: 74px;
    padding-bottom: 20px;
}
.container-title{
    text-align: center;
    padding-top: 80px;
    
}

.container-title > h1{
    font-size:32px ;
    font-weight: 800;
}

.container-title >p{
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 48px;
    padding: 0 97px;
    opacity: 0.7;
}

.container_text{
    gap:16px;
}
.container_text >h1{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
font-style: normal;
font-weight: 700;
}

.container_text >button{
    color: #0D1321;
    text-align: center;
    font-size: 15px;
   font-style: normal;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 32px;
}
.container_text >p{
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}
.container1 ,.container3{
    display: flex;
    justify-content: space-between;
    margin: 48px;
    gap: 20px;
    padding: 48px 97px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
 .container2{
    display: flex;
     justify-content: space-between;
     gap: 30px;
    margin: 48px;
    padding: 48px 97px;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
 }

 .Inspiration{
    margin-top: 80px;
    
 }
.Inspiration1{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 90px;
    
}

.image_container2{
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.target_container1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.course{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.new-courses{
    display: flex;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 40px;
    gap: 24px;
    margin-top: 20px;
}

.support{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),url("../images/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center; 
    align-items: center;
    border-radius: 16px;
    padding: 64px 48px;
    margin-top: 40px;
    
}

.support_text{
    text-align: center;
}

.support >.support_text > h3{
    color: #FFF;

text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 700;
}

.support >.support_text > p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}
.email{
    width: 548px;
    height: auto;
    border-radius: 8px;
    border: none;
    padding: 19px 20px;
}

.support > .support_text > button{
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 15px;
}

footer{
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
margin-top: 40px;
}

.social_media{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

